{
  "twitch": {
    "clientId": "Twitch application Client ID",
    "clientSecret": "Twitch application Client Secret",
    "games": [
      {
        "id": "Game ID on Twitch",
        "name": "Your custom name for this game"
      }, {
        "id": "2692",
        "name": "Super Mayro 64"
      }
    ]
  },
  "discordActivity": "speedruns",
  "blockedUsers": ["testuser123"],
  "channel": "Discord channel ID to post to",
  "token": "Discord bot token",
  "prefix": "!"
}
